Flask==3.1.0
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
MarkupSafe==3.0.2
biopython==1.85
numpy==1.26.4
pandas==2.2.3
requests==2.32.3
pepfunn @ git+https://github.com/novonordisk-research/pepfunn.git@d52f0cf24c758a9c678bf0dd2a4ac4a3b00b7a6b
